*, 
*:before, 
*:after { box-sizing: border-box;}

html { 
  height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100%;
  background-color: #282c34;
  font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

h1,
h2,
h3 { font-weight: 500; }
h1 { font-size: 3.4rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 1.8rem; }
p,
a  { font-size: 1.4rem; font-weight: 400; }
p  { opacity: .8; }

.modal-content      { background-color: #3b474f; }
.modal-header       { border-bottom: none }
.modal-footer       { border-top: none }
img[class*="_2"]    { rotate: 180deg; }
.info-icon          { width: 2.4rem; } /* Info icon created by i cons from the noun project - tinyurl.com/47b8m4an */
a,
.btn-tertiary       { color: antiquewhite; text-decoration: dotted; }
a:hover,
.btn-tertiary:hover { color: antiquewhite; opacity: .8; text-decoration: underline; }
.btn-flip           { width: 100%; }
.flip-card          { perspective: 1000px; }

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:active .flip-card-inner,
.flip-card .flip-card-inner.show { 
  transform: rotateX(180deg); 
}

.flip-card-front, .flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateX(180deg);
  height: 0;
}

@media (min-width: 992px) {
  .tarot-deck { rotate: 90deg; }
}