*,
*:before,
*:after { box-sizing: border-box;}

:root {
  --main-bg: #282a31;
  --link: #DE7826;
}

html {
  font-size: 62.5%;
  background-color: var(--main-bg);
}

body {
  background-color: var(--main-bg);
  font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

html,
body,
#root,
main              { height: 100%; }
main              { display: flex; flex-direction: column; }
.paperfox-content { flex: 1 0 auto; }
footer            { flex-shrink: 0; }
h1, h2            { font-weight: 500; }
h1                { font-size: 3.4rem; margin-bottom: 3rem; }
h2                { font-size: 2.4rem; margin-bottom: 2.2rem; }
small             { font-size: .75em; }
.p                { margin-bottom: 1rem; }
p, .p, h4, a      { font-size: 1.6rem; }

a {
  color: var(--link);
  text-decoration: none;
  font-weight: 600;
  padding: 0;
}

a:focus,
a:focus-visible,
a:hover {
  color: var(--link);
  text-decoration: underline;
  text-decoration-color: var(--link);
}
a:focus,
a:focus-visible {
  outline-offset: 0.1rem;
  outline: .1rem dotted var(--accent);
}

/* Homepage specific code */
ul li                                            { background-color: rgba(30, 33, 39, .8);}
ul li a                                          { display: block; border: 2px solid transparent; }
ul li a:hover                                    { border: 2px solid rgba(0, 0, 0, .2); }
.list-unstyled img[src$=".svg"]                  { opacity: .6; }
.list-unstyled img[src$="paperfoxlogo-bold.svg"] { opacity: 1; }
.convert-to-white                                { filter: invert(70%) sepia(100%) saturate(0%) hue-rotate(166deg) brightness(113%) contrast(112%); }
.paperfox-links img                              { height: 2.4rem; width: 2.4rem; }